In [11]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [4]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [5]:
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [6]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [7]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [8]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [9]:
response.status_code

200

In [12]:
data = response.json()

In [13]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [14]:
len(data['candles'])

10

In [16]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [17]:
for price in prices:
  for oh in ohlc:
    print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [21]:
data['candles'][0]['bid']['o']

'1.07959'

In [23]:
our_data = []
for candle in data['candles']:
  if candle['complete'] == False:
    continue 
  new_dict = {}
  new_dict['time'] = candle['time']
  new_dict['volume'] = candle['volume']
  for price in prices:
    for oh in ohlc:
      new_dict[f"{price}_{oh}"] = candle[price][oh]
  our_data.append(new_dict)
print(our_data[0])

{'time': '2023-12-06T04:00:00.000000000Z', 'volume': 1516, 'mid_o': '1.07966', 'mid_h': '1.07999', 'mid_l': '1.07936', 'mid_c': '1.07945', 'bid_o': '1.07959', 'bid_h': '1.07992', 'bid_l': '1.07928', 'bid_c': '1.07938', 'ask_o': '1.07974', 'ask_h': '1.08006', 'ask_l': '1.07943', 'ask_c': '1.07952'}

In [24]:
candles_df = pd.DataFrame.from_dict(our_data)

In [25]:
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-12-06T04:00:00.000000000Z,1516,1.07966,1.07999,1.07936,1.07945,1.07959,1.07992,1.07928,1.07938,1.07974,1.08006,1.07943,1.07952
1,2023-12-06T05:00:00.000000000Z,2177,1.07943,1.08019,1.07917,1.08012,1.07936,1.08011,1.07909,1.08004,1.07950,1.08027,1.07925,1.08020
2,2023-12-06T06:00:00.000000000Z,2169,1.08010,1.08011,1.07879,1.07880,1.08002,1.08003,1.07870,1.07871,1.08019,1.08019,1.07887,1.07888
3,2023-12-06T07:00:00.000000000Z,4843,1.07882,1.07934,1.07780,1.07902,1.07875,1.07926,1.07773,1.07894,1.07889,1.07941,1.07788,1.07909
4,2023-12-06T08:00:00.000000000Z,5540,1.07898,1.07904,1.07750,1.07868,1.07890,1.07897,1.07743,1.07860,1.07906,1.07911,1.07757,1.07875
5,2023-12-06T09:00:00.000000000Z,5148,1.07869,1.07979,1.07860,1.07911,1.07862,1.07972,1.07853,1.07903,1.07876,1.07986,1.07867,1.07919
6,2023-12-06T10:00:00.000000000Z,4071,1.07912,1.07960,1.07874,1.07911,1.07905,1.07953,1.07867,1.07904,1.07920,1.07968,1.07882,1.07918
7,2023-12-06T11:00:00.000000000Z,3709,1.07909,1.07909,1.07780,1.07800,1.07901,1.07902,1.07773,1.07792,1.07917,1.07917,1.07788,1.07807
8,2023-12-06T12:00:00.000000000Z,3832,1.07800,1.07808,1.07724,1.07774,1.07793,1.07800,1.07717,1.07766,1.07807,1.07816,1.07731,1.07781

In [27]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [28]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")

In [29]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-12-06T04:00:00.000000000Z,1516,1.07966,1.07999,1.07936,1.07945,1.07959,1.07992,1.07928,1.07938,1.07974,1.08006,1.07943,1.07952
1,2023-12-06T05:00:00.000000000Z,2177,1.07943,1.08019,1.07917,1.08012,1.07936,1.08011,1.07909,1.08004,1.07950,1.08027,1.07925,1.08020
2,2023-12-06T06:00:00.000000000Z,2169,1.08010,1.08011,1.07879,1.07880,1.08002,1.08003,1.07870,1.07871,1.08019,1.08019,1.07887,1.07888
3,2023-12-06T07:00:00.000000000Z,4843,1.07882,1.07934,1.07780,1.07902,1.07875,1.07926,1.07773,1.07894,1.07889,1.07941,1.07788,1.07909
4,2023-12-06T08:00:00.000000000Z,5540,1.07898,1.07904,1.07750,1.07868,1.07890,1.07897,1.07743,1.07860,1.07906,1.07911,1.07757,1.07875
5,2023-12-06T09:00:00.000000000Z,5148,1.07869,1.07979,1.07860,1.07911,1.07862,1.07972,1.07853,1.07903,1.07876,1.07986,1.07867,1.07919
6,2023-12-06T10:00:00.000000000Z,4071,1.07912,1.07960,1.07874,1.07911,1.07905,1.07953,1.07867,1.07904,1.07920,1.07968,1.07882,1.07918
7,2023-12-06T11:00:00.000000000Z,3709,1.07909,1.07909,1.07780,1.07800,1.07901,1.07902,1.07773,1.07792,1.07917,1.07917,1.07788,1.07807
8,2023-12-06T12:00:00.000000000Z,3832,1.07800,1.07808,1.07724,1.07774,1.07793,1.07800,1.07717,1.07766,1.07807,1.07816,1.07731,1.07781